@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Playfair+Display+SC&display=swap');

.App{
  width:98vw;
  margin-left:auto;
  margin-right:auto;
}
nav{
  width:98vw;
  margin-top:1%;
  display:flex;
  justify-content:center;
  align-items:center;
  height:7vh;
  background-color: #2e2e2e;
}
.siteName{
  display:flex;
  text-align:center;
  border-radius:100%;
  font-size:3vw;
  font-family:'Playfair Display SC';
  margin-left:1%;
  margin-right:auto;
  color:rgb(36, 36, 36);
}
.navOptions{
  display:flex;
  margin-right:auto;
  margin-left:1%;
  width:100%;
  height:7vh;
  font-size:0.8rem;
}
.navOptions2{
  display:flex;
  justify-content:end;
  align-items:center;
  margin-left:auto;
  width:24%;
  height:7vh;
  padding-right:1%;
}
.link{
  color:white;
  text-decoration:none;
}
.opt{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  width:fit-content;
  height:100%;
  font-family:'Courier New', Courier, monospace;
  transition:all 0.3s ease-in-out;
  padding-left:1vw;
  padding-right:1vw;
}
.optImg{
  height:3vw;
  max-height:22px;
  padding-left:0.3vh;
  padding-right:0.3vh;
}
.opt:hover{
  background-color:orange;
}
.opt:active{
  background-color:rgb(166, 108, 0);
  transition:all 0.1s ease-in-out;
}
.mainBody{
  display:flex;
  width:98vw;
  height:50vw;
  max-height:600px;
  background-color: #a7a6a6;
  margin-left:auto;
  margin-right:auto;
}
.siteIntroduction{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}
.textHolder{
  display:flex;
  justify-content:center;
  align-items: center;
  width:80%;
  margin-top:auto;
}
.siText1{
  display:flex;
  position:absolute;
  text-align:center;
  margin-bottom:50%;
  width:60%;
  height:10%;
  justify-content:center;
  align-items:center;
  color:#303030;
  font-size:1.5rem;
  font-family:'Jura';
}
.siText2{
  display:flex;
  position:absolute;
  margin-bottom:35%;
  text-align:center;
  width:fit-content;
  justify-content:center;
  align-items:center;
  color:#303030;
  padding:0.5%;
  font-size:1rem;
  font-family:'Jura';
  background-color: #ededed;
  border-radius:24px;
}
.sii1{
  background-image: url("./Images/beautiful-interior-shot-modern-house-with-white-relaxing-walls-furniture-technology.jpg");
  background-size: cover;
  transition:all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
.si{
  color:white;
  background-color:rgb(36, 36, 36, 0.6);
  border-radius:24px;
  padding:0.5%;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.sii2{
  background-image: url("./Images/excited-audience-watching-confetti-fireworks-having-fun-music-festival-night-copy-space.jpg");
  background-size: cover;
  transition:all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.sii3{
  background-image: url("./Images/female-friends-out-shopping-together.jpg");
  background-size: cover;
  transition:all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.buttonHolder{
  display:flex;
  justify-content:space-between;
  width:95%;
  margin-top:auto;
}
.scrollButton{
  display:flex;
  justify-content:center;
  align-items:center;
  height:6vw;
  width:6vw;
  border-radius:100%;
  border-color:white;
  border-style:solid;
  border-width:1px;
  background-color:rgba(0,0,0,0.2);
  color:white;
  transition:all 0.3s ease-in-out;
  opacity:0.6;
}
.scrollButton:hover{
  transform:scale(1.1);
  opacity:1;
}
.spHolder.visible{
  display:flex;
  background-color: rgba(98, 96, 96, 0.6);
  z-index: 9;
  width:30%;
  right:20%;
  position:absolute;
  opacity:1;
  border-radius:24px;
  animation: slideIn 0.6s ease-in-out;
  transition:all 0.6s ease-in-out;
}
@keyframes slideIn {
  0%{
    opacity:0;
    transform:scaleY(0.1);
  }
  100%{
    opacity:1;
    transform:scaleY(1);
  }
}
.spHolder{
  display:flex;
  background-color: #2e2e2e;
  z-index: 9;
  width:30%;
  right:20%;
  position:absolute;
  opacity:0;
  border-radius:24px;
  animation: slideOut 0.6s ease-in-out;
  transition:all 0.6s ease-in-out;
  border-color:orange;
  border-style:solid;
  border-width:2px;
}
@keyframes slideOut {
  0%{
   opacity:1;
   transform:scaleY(1);
  }
  100%{
    opacity:0;
    transform:scaleY(0.1);
  }
}
.searchBar{
  height:25px;
  flex:auto;
  outline:none;
  border-top-left-radius:24px;
  border-bottom-left-radius:24px;
  border-style:solid;
  border-width:1px;
  border-right-width:0;
  padding-left:3%;
}
.closeSearch{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: orange;
  border-style:solid;
  border-width:0.5px;
  border-color:#2e2e2e;
  border-top-right-radius:24px;
  border-bottom-right-radius:24px;
  transition:all 0.1s ease-in-out;
}
.closeSearch:hover{
  background-color:rgb(203, 132, 1);
}
.csIMG{
  height:14px;
}
footer{
  display:flex;
  flex-direction:row-reverse;
  width:20%;
  margin-top:20vh;
  margin-left:auto;
  padding-bottom:1%;
  font-size:0.8rem;
}